.calculator {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gainsboro;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9e9e9;
    cursor: pointer;
}

input {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    text-align: right;
}

button:hover {
    background-color: #e0e0e0;
}

button:active {
    background-color: #c0c0c0;
}
